.gradle
build
.idea/
.project
.settings/
.classpath
nbactions.xml
nb-configuration.xml
nbproject/
.vscode/settings.json
null-ignored.json
bin

# local RuneLite development environment
runelite/
LOCAL_RUNELITE_SETUP.md
